<nav class="navbar navbar-expand-lg bg-body-tertiary px-3">
  <div class="container-fluid">
    <!-- LOGO DA EMPRESA -->
    <a class="navbar-brand" href="/">
      <img
        src="https://st5.depositphotos.com/39247644/65071/i/450/depositphotos_650718912-stock-illustration-golden-shiny-pakistani-rupee-currency.jpg"
        alt="logo"
        height="60"
        width="60"
      />
      BG du erri
    </a>

    <!-- FIM DA LOGO -->

    <!-- BOTÃO PARA MAXIMIZAR O MENU -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- FIM DO BOTÃO -->

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- OPÇÃO DE PAGINA PRINCIPAL -->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
        </li>
        <!-- FIM DE OPÇÃO DE PAGINA PRINCIPAL -->

        <!-- OPÇÕES DE PAGINA PARA USUARIO -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Usuários
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/usuarios">Ver usuários</a></li>
            <li>
              <a class="dropdown-item" href="/usuarios/cadastrar"
                >Criar usuários</a
              >
            </li>
           
            </li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Produtos
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/produtos">Ver produtos</a></li>
            <li>
              <a class="dropdown-item" href="/produtos/cadastrar"
                >Criar produtos</a
              >
            </li>
          </ul>
        </li>

        <!-- FIM DE OPÇÕES DE PAGINA PARA USUARIO -->
      </ul>
      <!-- AREA DO BOTAO DE SAIR -->
      <P class="text-muted mx-2 mb-lg-0">Usuário: Arthur</P>
      <button class="btn btn-danger">Sair</button>
      <!-- FIM DA AREA DO BOTAO DE SAIR -->
    </div>
  </div>
</nav>
