<!-- cabeçalho principal -->
<%- include('partials/header') %>

<!-- conteudo do index -->
<main>
<h1>
    ESTOU NO INDEX 
</h1>
</main>

<!-- rodape de todas as paginas -->
<%- include('partials/footer') %>